<head th:replace="fragments/tableHeader :: head"></head>

<body>
<div class="h1">Manage motorhomes</div>
<a class="h3, align-content-center" th:href="@{motorhome/add}">Add new motorhome</a>
<br>

<table class="table" table-bordered>
    <thead class="thead-transparent"></thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Fuel</th>
        <th>Speedometer</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Price/day</th>
        <th></th>
        <th>Actions</th>
        <th></th>
    </tr>
    <tbody>
    <th:block th:each="motorhome : ${motorhomeList}">
        <tr>
            <td>[[${motorhome.id}]]</td>
            <td>[[${motorhome.name}]]</td>
            <td>[[${motorhome.fuelType}]]</td>
            <td>[[${motorhome.speedometer}]]</td>
            <td>[[${motorhome.brandId.name}]]</td>
            <td>[[${motorhome.brandId.model}]]</td>
            <td>[[${motorhome.brandId.dailyBrandPrice}]]</td>
            <td></td>
            <td>
                <a class="p mr-3 text-black" th:href="@{'motorhome/edit/' + ${motorhome.id}}">Edit</a>
                <a class="p mr-3 text-black" th:href="@{'motorhome/delete/' + ${motorhome.id}}">Delete</a>
                <a class="p mr-3 text-black" th:href="@{'motorhome/repair/' + ${motorhome.id}}">Register repair</a>
            </td>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a class="h5 text-center" th:href="@{/mainpage}">Back to the main site</a>
</div>
</body>