<head th:replace="fragments/formHeader :: head"></head>
<body>
<div class="container-fluid">
    <h2 class="text-center">Add New User</h2>
    <h2 class="text/center"> [[${pageTitle}]]</h2>
</div>
<!--  method attribute specifies how to send form-data  -->
<!--  method="post" means sending an http post request --> <!-- th:object="${user} = the 'user' name refers what was given in the handler method attribute in the controller class-->
<form th:action="@{/user/save}" method="post" th:object="${user}" style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
        <div class="row2">
            <!--sm-4 is the relative weight of the column and it will be responsive on small screen-->
            <label class="col-sm-4 col-form-label">User name</label>
            <div class="col sm-8">
                <!-- "*" refers to the field in the entity object. For validation username attribute field is set to required-->
                <input type="text" th:field="*{username}" class="form-control" required minlength="">
            </div>
        </div>
        <div class="row2">
            <label class="col-sm-4 col-form-label">Password</label>
            <div class="col sm-8">
                <input type="text" th:field="*{password}" class="form-control">
            </div>
        </div>

        <div class="row2">
            <label class="col-sm-4 col-form-label">Full name</label>
            <div class="col sm-8">
                <input type="text" th:field="*{fullName}" class="form-control">
            </div>
        </div>

        <div class="row2">
            <label class="col-sm-4 col-form-label">Title</label>
            <div class="col sm-8">
                <input type="text" th:field="*{title}" class="form-control">
            </div>
        </div>

        <div class="row2">
            <label class="col-sm-4 col-form-label">Phone number</label>
            <div class="col sm-8">
                <input type="text" th:field="*{phoneNumber}" class="form-control">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class=" btn btn-primary m-2">Save</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
    </div>
</form>
<!--Javascript code for clicking on cancel button running the cancelForm()method,
which redirects to the given url useing a Thymeleaf expression-->
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/manageusers}]]"
    }
</script>
</body>