body{
    overflow-x: hidden !important;
    padding: 20px !important;
    background: linear-gradient(45deg, #6ac1c5, #bda5ff, #9e7afc);
    color: ghostwhite;
    text-align:center;
    vertical-align:center;
}


a:link {
    color: ghostwhite;}

/* visited link */
a:visited {
    color: ghostwhite;
}

/* mouse over link */
a:hover {
    color: #193dbd;
}

/* selected link */
a:active {
    color: #2bea14;
}

table {
    margin: 10px !important;
}

thead {
    margin: 2px;
}