body{
    padding: 20px !important;
    background: linear-gradient(45deg, #6ac1c5, #bda5ff, #9e7afc);
    color: ghostwhite;
}



a:link {
    color: ghostwhite;
}

/* visited link */
a:visited {
    color: ghostwhite;
}

/* mouse over link */
a:hover {
    color: #1c44d0;
}

/* selected link */
a:active {
    color: #2bea14;
}