<head th:replace="fragments/formHeader :: head"></head>
<body>
<div class="container-fluid">
    <h2 class="text-center">Add New Booking</h2>
    <h2 class="text/center" > [[${pageTitle}]]</h2>
</div>
<!--  method attribute specifies how to send form-data  -->
<!--  method="post" = sent as http -->
<form th:action="@{/booking/save}" method="post" th:object="${booking}" style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row col-md-8">
        <div class="justify-content-center">
            <label for="startDate">Start Date</label>
            <div class="input-group date">
                <input type="date" class="form-control" id="startDate" th:field="*{startDate}" name="startDate"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <label for="startDate">End Date</label>
            <div class="input-group date">
                <input type="date" class="form-control" id="endDate" th:field="*{endDate}" name="endDate"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Pick-up point/ Delivery point</label>
        <div class="col sm-8">
            <input type="text" th:field="*{pickUpPoint}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Drop off point</label>
        <div class="col sm-8">
            <input type="text" th:field="*{dropOffPoint}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Full name</label>
        <div class="col sm-8">
            <input type="text" th:field="*{fullName}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Phone number</label>
        <div class="col sm-8">
            <input type="text" th:field="*{phoneNumber}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Address</label>
        <div class="col sm-8">
            <input type="text" th:field="*{address}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Drivers number</label>
        <div class="col sm-8">
            <input type="text" th:field="*{driversNumber}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Bankcard number</label>
        <div class="col sm-8">
            <input type="text" th:field="*{cardNumber}" class="form-control" required minlength="">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Choose a motorhome</label>
        <div class="col sm-8">
            <select th:field="*{motorhomeId}" class="form-control" id="dropDownList">
                <option th:each="motorhome : ${motorhomeList}" th:value="${motorhome.id}"
                        th:text="${motorhome.name}"></option>
            </select>
        </div>
    </div>
    <br>
    <div class="row2 col-sm-4">
        <label> Extras</label>
        <div th:each="extra : ${extraList}">
            <div class="ui checkbox">
                <input type="checkbox" th:field="*{extras}" th:value="${extra.id}">
                <label th:text="${extra.name}"></label>
            </div>
        </div>
    </div>


    <div class="row2">
        <label class="col-sm-4 col-form-label">Choose a User</label>
        <div class="col sm-8">
            <select th:field="*{userId}" class="form-control" id="dropDownList3">
                <option th:each="user : ${userList}" th:value="${user.id}"
                        th:text="${user.fullName}"></option>
            </select>
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Choose a season</label>
        <div class="col sm-8">
            <select th:field="*{seasonId}" class="form-control" id="dropDownList4">
                <option th:each="season : ${seasonList}" th:value="${season.id}"
                        th:text="${season.name}"></option>
            </select>
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Choose a cancellation</label>
        <div class="col sm-8">
            <select th:field="*{cancellationId}" class="form-control" id="dropDownList2">
                <option th:each="cancellation : ${cancellationList}" th:value="${cancellation.id}"
                        th:text="${cancellation.type}"></option>
            </select>
        </div>
    </div>
    <div class="row2">
        <label class="col-sm-4 col-form-label">Extra kilometers</label>
        <div class="col sm-8">
            <input type="text" th:field="*{extraKilometer}" class="form-control">
        </div>
    </div>

    <div class="row2">
        <label class="col-sm-4 col-form-label">Distance from NMR</label>
        <div class="col sm-8">
            <input type="text" th:field="*{distanceFromNMR}" class="form-control">
        </div>
    </div>

    <br>
    <div class="row2">
        <label>Is fuel below half?</label>
        <div th:each="fuel : ${fuelHalf}">
            <div class="ui checkbox">
                <td><input type="checkbox" th:field="*{fuelBelowHalf}" th:value="${fuelBelowHalf}">
                    <label th:text="${fuelBelowHalf}"></label>
            </div>
        </div>
    </div>

    <div class="row2">
        <a class="action-button" th:href="@{/terms}">Agree to terms & conditions</a>
        <div th:each="consentToTerms : ${consentToTerms}">
            <div class="ui checkbox">
                <input type="checkbox" th:field="*{consentToTerms}" th:value="${consentToTerms}">
                <!--<label th:text="${consentToTerms}"></label>-->
            </div>
        </div>
    </div>


    <div class="text-center">
        <button type="submit" class=" btn btn-primary m-2">Save</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
    </div>
    </div>
</form>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });

</script>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/managebookings}]]"
    }
</script>
</body>