<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="booking.css" th:href="@{/css/booking.css}" media="screen">    <title>Nordic Motorhome Rental</title>
</head>
<body>
<div class="container-fluid text-center">
    </div>
    <table class="table" table-bordered>
        <thead class ="thead-dark"></thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Fuel</th>
            <th>Speedometer</th>
            <th>Brand</th>
            <th>Motorhome</th>
            <th></th>
        </tr>
        <tbody>
        <th:block th:each="motorhome : ${listChildren}">
            <tr>
                <td>[[${children.id}]]</td>
                <td>[[${children.firstName}]]</td>
                <td>[[${children.lastName}]]</td>
                <td>[[${children.parentFirstName}]]</td>
                <td>[[${children.parentLastName}]]</td>
                <td>[[${children.address}]]</td>
                <td>[[${children.contactNumber}]]</td>
                <td>
            </tr>
        </th:block>
        </tbody>
    </table>
<div>
    <a class="h5 text-center" th:href="@{/admin}">Back from whence you came</a>
</div>
</div>
</body>
</html>