<head th:replace="fragments/tableHeader :: head"></head>

<body>
<div class="container-fluid text-center">
</div>
<a class="h3" th:href="@{booking/add}">Add new booking</a>
<table class="table" table-bordered>
    <thead class="thead-dark">
    <tr>
        <th>ID number</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Pick up point</th>
        <th>Drop off point</th>
        <th>Customer name</th>
        <th>Customer phone number</th>
        <th>Customer address</th>
        <th>Customer drivers number</th>
        <th>Customer card number</th>
        <th>Motorhome name</th>
        <th>Extras</th>
        <th>Final Price</th>
        <th>Actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="booking : ${bookingList}">
        <tr>
            <td>[[${booking.id}]]</td>
            <td>[[${booking.startDate}]]</td>
            <td>[[${booking.endDate}]]</td>
            <td>[[${booking.pickUpPoint}]]</td>
            <td>[[${booking.dropOffPoint}]]</td>
            <td>[[${booking.fullName}]]</td>
            <td>[[${booking.phoneNumber}]]</td>
            <td>[[${booking.address}]]</td>
            <td>[[${booking.driversNumber}]]</td>
            <td>[[${booking.cardNumber}]]</td>
            <td>[[${booking.motorhome.name}]]</td>
            <td>
                <select class="form-control" id="dropDownList">
                    <option th:each="extra : ${extraList}" th:value="${extra.id}"
                            th:text="${extra.name}"></option>
                </select>
            </td>
            <td>[[${booking.finalPrice}]]</td>
            <td>
                <a class="p mr-3 text-white" th:href="@{'/booking/edit/' + ${booking.id}}">Edit</a>
                <a class="p text-white" th:href="@{'booking/delete/' + ${booking.id}}">Delete</a>
          <!--  <div>-->
                <a th:href="@{/booking/pdf}" class="btn btn-success">Invoice
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <!--</div><br/>-->
            </td>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a class="action-buttons" th:href="@{/mainpage}">Back to the main site</a>
</div>
</div>
</body>
</html>
