<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" th:href="@{/css/mainPageStyle.css}" media="screen">
    <title>Nordic Motorhome Rental</title>
</head>

<h1>Click on top left menu to enter the website</h1>
<input type="checkbox" id="burger-toggle">
<label for="burger-toggle" class="burger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>
<div class="menu">
    <div class="menu-inner">
        <ul class="menu-nav">
            <li class="menu-nav-item"><a class="menu-nav-link" th:href="@{/managemotorhomes}"><span>
            <div>Motorhomes</div>
          </span></a></li>
            <li class="menu-nav-item"><a class="menu-nav-link" th:href="@{/managebookings}"><span>
            <div>Bookings</div>
          </span></a></li>
            <li class="menu-nav-item"><a class="menu-nav-link" th:href="@{/manageusers}"><span>
            <div>Manage Users</div>
          </span></a></li>
            <li class="menu-nav-item"><a class="menu-nav-link" th:href="@{/repairshop}"><span>
            <div>Repair Shop</div>
          </span></a></li>
            <li class="menu-nav-item"><a class="menu-nav-link" th:href="@{/teampage}"><span>
            <div>Team</div>
          </span></a></li>
        </ul>
        <div class="gallery">
            <div class="title">
                <p>Nordic Motorhomes</p>
            </div>
            <div class="images">
                <a class="image-link" th:href="@{/managemotorhomes}">
                    <div class="image" data-label="Motorhomes"><img th:src="@{/images/motorhome1.jpg}"
                                                                    alt=""></div>
                </a>
                <a class="image-link" th:href="@{/managebookings}">
                    <div class="image" data-label="Bookings"><img th:src="@{/images/motorhome2.jpg}"
                                                                  alt=""></div>
                </a>
                <a class="image-link" th:href="@{/manageusers}">
                    <div class="image" data-label="Users"><img th:src="@{/images/user1.png}"
                                                               alt=""></div>
                </a>
                <a class="image-link" th:href="@{/repairshop}">
                    <div class="image" data-label="Repair Shop"><img th:src="@{/images/rv.jpg}"
                                                                       alt=""></div>
                </a>
                <a class="image-link" th:href="@{/teampage}">
                    <div class="image" data-label="Meet the Team"><img th:src="@{/images/team.jpg}"
                                                                       alt=""></div>
                </a>
            </div>
        </div>
    </div>
</div>
</html>